<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">


    <title>Destalhes da Ocorrência</title>
</head>

<style>
    .custom-title {
      color: #F20505; 
      text-align: center;
    }
  
    .btn-red {
      background-color: #F20505;
      border-color: #F20505;
    }
</style>

<body>
    <header>
        <%- include ('navbar') %>
    
    </header>

    <main>
        <br><br>
        <h1 class="display-2 custom-title">Detalhes da Ocorrência</h1>

        <form action="/registroLinha", method="post"> 

        <div class="d-flex align-items-center justify-content-center vh-20"> 
            <div class="form-floating mb-3 w-50">
                <input type="date" class="form-control" id="data" nome="data">
                <label for="data"> Data: </label>
            </div>
        </div>
        

        <div class="d-flex align-items-center justify-content-center vh-20"> 
            <div class="form-floating mb-3 w-50">
              <input type="time" class="form-control" id="horario" nome="horario"> 
              <label for="horario"> Horário: </label>
            </div>
        </div>
        

        <div class="d-flex align-items-center justify-content-center vh-20">
            <div class="form-floating mb-3 w-50">
              <input type="text" class="form-control" id="categoria" nome="categoria"></input>
              <label for="categoria"> &nbsp;&nbsp;Categoria: </label>
            </div>
        </div>
        
        <div class="d-flex align-items-center justify-content-center vh-20">
            <div class="form-floating mb-3 w-50">
              <input type="text" class="form-control" id="linha" nome="linha"> </input> <br> <br> 
              <label for="linha"> Linha: </label>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center vh-20">
            <div class="form-floating mb-3 w-50">
              <label for="descricao"> Descrição: </label>
              <textarea id="descricao" class="form-control" name="descricao" rows="4" cols="50"></textarea>
            </div> 
        </div>

    <form action="/historico" method="get">
        <div class="text-center">
            <h1 class="display-3"> 
                <button type="submit" class="btn btn-primary btn-red">Voltar</button>   
            </h1>
        </div>
        </form>
    </main>

<footer>
    <%- include ('footer') %>
</footer>

<script src="js/bootstrap.bundle.min.js"></script>

    
</body>
</html>