<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <style>
        h2{ 
            color: #F20505;
            margin-left: 22%;
            margin-top: 20px;
            margin-bottom: 0;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
            margin-left: 20%;
        }

        .limite {
            position: relative;
            width: calc(100% - 20px); 
            height: 300px;
            margin: 10PX 10px 5px 10px; 
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s ease;
            background-color: #f2050591;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .limite:hover .overlay {
            opacity: 1;
        }

        .overlay h2 {
            color: #fff;
            font-size: 2rem;
        }

        .custom-title {
             color: #F20505; 
            text-align: center;
        }
  
        .btn-red {
            background-color: #ff0000; 
            border-color: #ff0000; 
        }

        .btn-red:hover {
            background-color: #f97e7e; 
            border-color: #f97e7e; 
        }
    </style>
</head>


<header>
    <%- include ('navbar') %>
</header>
<body>

    <h2> Membros:</h2>

    <div class="container">
        <div class="top-cards">
            <div class="limite">
                <img src="/images/marianaFagueiro.jpeg" alt="Mariana Fagueiro" class="img">
                <div class="overlay">
                    <h2>Mariana Fagueiro</h2>
                </div>
            </div>
            <br>
            <div class="limite">
                <img src="/images/julianeOliveira.jpeg" alt="Juliane Oliveira" class="img">
                <div class="overlay">
                    <h2>Juliane Oliveira</h2>
                </div>
            </div>
        </div>
        
        <div class="bottom-cards">
            <div class="limite">
                <img src="/images/mariaBeatriz.jpeg" alt="Maria Beatriz Ribeiro" class="img">
                <div class="overlay">
                    <h2>Maria Beatriz Ribeiro</h2>
                </div>
            </div>
            <br>
            <div class="limite">
                <img src="/images/viniciusYazbeck.jpeg" alt="Vinicius Yazbeck" class="img">
                <div class="overlay">
                    <h2>Vinicius Yazbeck</h2>
                </div>
            </div>
        </div>

        <div class="limite">
            <img src="/images/lucasQuadros.jpeg" alt="Lucas Quadros" class="img">
            <div class="overlay">
                <h2>Lucas Quadros</h2>
            </div>
        </div>
    </div>

    <form action="/index" method="get">
        <div class="text-center">
            <h1 class="display-3"> 
                <a href="/index" class="btn btn-primary btn-red">Voltar</a>
            </h1>
        </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <footer>
        <%- include ('footer') %>
    </footer>
</body>
</html>
