<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .limite {
            position: relative;
            width: 100%;
            height: 300px;
            background-color: #000;
        }

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.5s ease;
            background-color: #f2050591;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .limite:hover .overlay {
            opacity: 1;
        }

        .overlay h2 {
            color: #fff;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <header>
        <%- include ('navbar') %>
    </header>

    <div class="container">
        <div class="limite">
            <img src="./static/marianaFagueiro.jpeg" alt="Mariana Fagueiro" class="img">
            <div class="overlay">
                <h2>Mariana Fagueiro</h2>
            </div>
        </div>
        <div class="limite">
            <img src="./public/static/lucasQuadros.jpeg" alt="Lucas Quadros" class="img">
            <div class="overlay">
                <h2>Lucas Quadros</h2>
            </div>
        </div>
        <div class="limite">
            <img src="./public/static/julianeOliveira.jpeg" alt="Juliane Oliveira" class="img">
            <div class="overlay">
                <h2>Juliane Oliveira</h2>
            </div>
        </div>
        <div class="limite">
            <img src="./static/mariaBeatriz.jpeg" alt="Maria Beatriz Ribeiro" class="img">
            <div class="overlay">
                <h2>Maria Beatriz Ribeiro</h2>
            </div>
        </div>
        <div class="limite">
            <img src="./public/static/viniciusYazbeck.jpeg" alt="Vinicius Yazbeck" class="img">
            <div class="overlay">
                <h2>Vinicius Yazbeck</h2>
            </div>
        </div>
    </div>
    <footer>
        <%- include ('footer') %> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
