<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <title>Registro de Ocorrência de Estação</title>
</head>

<style>
   

    .custom-title {
      color: #F20505; 
      text-align: center;
    }
  
    .btn-red {
            background-color: #ff0000; /* Vermelho padrão */
            border-color: #ff0000; /* Bordas no mesmo tom do fundo */
}

    .btn-red:hover {
        background-color: #f97e7e; /* Vermelho mais claro no hover */
        border-color: #f97e7e; /* Bordas no mesmo tom do hover */
}


.container {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
}

.form-group {
    margin-bottom: 15px; 
}

.form-control{
    width: 100%;
}

label {
    font-weight: bold; 
    margin-bottom: 5px; 
    display: block;
    color: #5d5d5d;
}

.campo {
    width: 100%; 
    padding: 8px;
    margin-top: 5px;

}

.row-mt-3{
    display: flex;
    justify-content: space-between;
    width: 100%
}

</style> 


<body>
    <main>
        <header>
            <%- include ('navbar') %>
        </header>

        <main class="container mt-5">
            <div class="text-center"> 
                <h1 class="display-2 custom-title">Ocorrência em Estação</h1>
            </div>

        <form action="/ocoEstacoes" method="post">
            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                    <input type="date" class="form-control" id="data" name="data">
                    <label for="data" class="form-label">Data:</label>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20"> 
                <div class="form-floating mb-3 w-50">
                    <input type="time" class="form-control" id="horario" name="horario">
                    <label for="horario" class="form-label">Horário:</label>
                </div>
            </div>
            
            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                    <select name="linha" id="linha" class="form-select">
                        <option value=""></option>
                        <option value="linha-7">linha-7</option>
                        <option value="linha-10">linha-10</option>
                        <option value="linha-11">linha-11</option>
                        <option value="linha-12">linha-12</option>
                        <option value="linha-13">linha-13</option>
                    </select>
                    <label for="linha" class="form-label">Linha:</label>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                    <select name="estacao" id="estacao" class="form-select">
                        <option value=""></option>
                        <option value="estacao_tatuape">Estação Tatuapé</option>
                        <option value="estacao_bras">Estação Brás</option>
                        <option value="estacao_eng_goulart">Estação Eng. Goulart</option>
                    </select>
                    <label for="estacao" class="form-label">Estação:</label>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                    <input type="text" class="form-control" id="bloco" name="bloco">
                    <label for="bloco" class="form-label">Bloco:</label>
                </div>
            </div>

            
            <div class="d-flex align-items-center justify-content-center vh-20">
                <div>
                    <input type="radio" class="form-check-input" id="Inviabilizou_o_bloco" name="Inviabilizou_o_bloco" value="Inviabilizou_o_bloco">
                    <label class="form-check-label">Inviabilizou o bloco:</label>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div>
                    <input type="radio" class="form-check-input" id="Impacto_na_velocidade" name="Impacto_na_velocidade" value="Impacto na velocidade">
                    <label class="form-check-label">Impacto na velocidade:</label> 
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20"> 
                <div class="form-floating mb-3 w-50">
                    <select name="Categoria" id="Categoria" class="form-select">
                        <option value=""></option>
                        <option value="Lotação excessiva">Lotação excessiva</option>
                        <option value="Falha na sinalização">Falha na sinalização</option>
                        <option value="Queda de energia">Queda de energia</option>
                        <option value="Emergencia">Emergência</option>
                        <option value="Quebra">Quebra</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <label for="Categoria" class="form-label">Categoria:</label>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                    <textarea id="descricao" class="form-control" name="descricao" rows="4"></textarea>
                    <label for="descricao" class="form-label">Descrição:</label>
                </div>
            </div><br>
            <form action="/index" method="get">
                <div class="text-center">
                    <h1 class="display-3"> 
                        <a href="/index" class="btn btn-primary btn-red">Voltar</a>
                    </h1>
                </div>
            </form>

            <div class="text-center">
                <h1 class="text-center"> 
                    <button type="submit" class="btn btn-secondary me-2 btn-red">Enviar</button>
                </h1>  
            </div><br>
        </form>
    </main>
    </body>
    <footer>
        <%- include ('footer') %>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

