<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <title>Registro de Ocorrência de Estação</title>
</head>
<body>
    <main class="container-fluid">
        <header>
            <%- include ('navbar') %>
        </header>
        <h1 class="my-4">Ocorrência em Estação</h1>
        <form action="/ocoEstacoes" method="post">
            <div class="mb-3">
                <label for="date" class="form-label">Data:</label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="horario" class="form-label">Horário:</label>
                <input type="time" id="horario" name="horario" class="form-control">
            </div>
            <div class="mb-3">
                <label for="linha" class="form-label">Linha:</label>
                <select name="linha" id="linha" class="form-select">
                    <!-- options -->
                </select>
            </div>
            <div class="mb-3">
                <label for="estacao" class="form-label">Estação:</label>
                <select name="estacao" id="estacao" class="form-select">
                    <!-- options -->
                </select>
            </div>
            <div class="mb-3">
                <label for="bloco" class="form-label">Bloco:</label>
                <input type="text" id="bloco" name="bloco" class="form-control">
            </div>
            <fieldset class="mb-3">
                <legend>Detalhes</legend>
                <div class="form-check">
                    <input type="radio" id="Inviabilizou_o_bloco" name="impact_type" class="form-check-input">
                    <label for="Inviabilizou_o_bloco" class="form-check-label">Inviabilizou o bloco</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="Impacto_na_velocidade" name="impact_type" class="form-check-input">
                    <label for="Impacto_na_velocidade" class="form-check-label">Impacto na velocidade</label>
                </div>
            </fieldset>
            <div class="mb-3">
                <label for="Categoria" class="form-label">Categoria:</label>
                <select name="Categoria" id="Categoria" class="form-select">
                    <!-- options -->
                </select>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" class="form-control"></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" formaction="menu-registro.html" class="btn btn-secondary">Voltar</button>
                <button type="submit" formaction="historico.html" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <%- include ('footer') %>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
