<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <title>Registro de Ocorrência de Estação</title>
</head>

<style>
   

    .custom-title {
      color: #F20505; 
      text-align: center;
    }
  
    .btn-red {
            background-color: #ff0000; 
            border-color: #ff0000; 
}

    .btn-red:hover {
        background-color: #f97e7e;
        border-color: #f97e7e; 
}
    label {
        margin-left: 20px;
        display: inline-block;
    }

</style> 

<body>
    <main>
        <header>
            <%- include ('navbar') %>
        </header>
        <br><br><h1 class="display-2 custom-title">Ocorrência de Estação</h1>
        <form action="/ocoEstacoes" method="post">
            <div class="mb-3">
                <label for="date" class="form-label">Data:</label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="horario" class="form-label">Horário:</label>
                <input type="time" id="horario" name="horario" class="form-control">
            </div>
            <div class="mb-3">
                <label for="linha" class="form-label">Linha:</label>
                <select name="linha" id="linha" class="form-select">
                    <option value=""></option>
                    <option value="linha-7">linha-7</option>
                    <option value="linha-10">linha-10</option>
                    <option value="linha-11">linha-11</option>
                    <option value="linha-12">linha-12</option>
                    <option value="linha-13">linha-13</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="estacao" class="form-label">Estação:</label>
                <select name="estacao" id="estacao" class="form-select">
                    <option value=""></option>
                    <option value="estacao_tatuape">estação Tatuapé</option>
                    <option value="estacao_bras">estação Brás</option>
                    <option value="estacao_eng_goulart">Estação Eng. Goulart</option>  
]                </select>
            </div>
            <div class="mb-3">
                <label for="bloco" class="form-label">Bloco:</label>
                <input type="text" id="bloco" name="bloco" class="form-control">
            </div>
            <fieldset class="mb-3">
                <legend>Detalhes</legend>
                <div class="form-check">
                    <input type="radio" id="Inviabilizou_o_bloco" name="impact_type" class="form-check-input">
                    <label for="Inviabilizou_o_bloco" class="form-check-label">Inviabilizou o bloco</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="Impacto_na_velocidade" name="impact_type" class="form-check-input">
                    <label for="Impacto_na_velocidade" class="form-check-label">Impacto na velocidade</label>
                </div>
            </fieldset>
            <div class="mb-3">
                <label for="Categoria" class="form-label">Categoria:</label>
                <select name="Categoria" id="Categoria" class="form-select">
                    <option value=""></option>
                    <option value="Obra">Obra</option>
                    <option value="Interditada">Interditada</option>
                    <option value="Queda de energia">Queda de energia</option>
                    <option value="Falha no sistema">Falha no sistema</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" class="form-control"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary me-2 btn-red">Enviar</button>
                <button type="submit" class="btn btn-primary btn-red">Voltar</button>
            </div><br>
        </form>
    </main>
    </body>
    <footer>
        <%- include ('footer') %>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>

