h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    margin-top: 40px;
    margin-left: 50px;

}

label {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 2% 4% 2% 5%; 
    text-align: left;
    display: inline-block;
}

input[type="date"] { 

    border-radius: 5px;
    padding: 10px;
    margin: 0;
    margin-left: 5%;
    margin-right: 20%;
    display: inline-block;   
}

input[type="time"] {
   
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    margin-left: %;
    margin-right: 20%;
    display: inline-block;
    
}

.categoria {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 20%;
    display: inline-block; 

}


input[type="text"] {
   
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    margin-left: 5%;
    margin-right: 20%;
    display: inline-block;
    margin-bottom: 2px;

    
}

textarea {
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    margin-left: 2%;
    margin-right: 20%;
    display: inline-block; 
}



.botao {
    display: flex;
    align-items: center;
    justify-content: center; 
}

button {
    padding: 20px;
    margin-left: 10px;
    align-items: center; 
}

.formulario1 {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se ajustem à largura disponível */

}
    