header{
    background-color: #6F7173;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    width: 100%;
    height: 3%
}

header img {
    max-width: 140px; 
    height: auto;
    margin-left: 3%;
    margin-right: 0; 
    margin-top: 2%; 
}

div ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

div ul li {
    margin-left: 40px;  

}

div ul li:first-child {
    margin-left: 0; 
 
}

div ul li a {
    text-decoration: none; 
    color: #ffffff;

}

div ul li a:hover {
    text-decoration: none;
}

.subheader {
    background-color: #F20505; 
    padding: 20px; 
    text-align: right; 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.subheader ul{
    margin-left: auto;
}

.estilo {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: -40% 0 0 10%; 
    font-size: 45px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 10px 0 0 10%; 
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 10px 0 0 10%; 
    border-radius: 20px;
    padding: 30px;
    width: 25%;
    height: 5%;
    border: 2px solid;
    font-size: 20px;
}


img {
    max-width: 80%; 
    height: auto; 
    display: block; 
    margin-left: auto; 
    margin-top: 0px; 
    margin-bottom: 20px; 
}

