header{
    background-color: #6F7173;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    width: 100%;
    height: 3%
}

header img {
    max-width: 140px; 
    height: auto;
    margin-left: 3%;
    margin-right: 0; 
    margin-top: 2%; 
}

div ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

div ul li {
    margin-left: 40px;  

}

div ul li:first-child {
    margin-left: 0; 
 
}

div ul li a {
    text-decoration: none; 
    color: #ffffff;

}

div ul li a:hover {
    text-decoration: none;
}

.subheader {
    background-color: #F20505; 
    padding: 20px; 
    text-align: right; 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.subheader ul{
    margin-left: auto;
}

.estilo {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}